@model IEnumerable<BookingPlatform.Models.Resources>
@{
    ViewData["Title"] = "HomePage";
}

<div class="row pb-3">

    <div class="row">

        <div class="col-3 text-end">
            <form method="get" class="d-flex" asp-action="Index">
                <input class="form-control me-sm-2" type="text" placeholder="Search" spellcheck="false" data-ms-editor="true" value=" @ViewData["Getressourcedetailss"]" name="suche" width="30%">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>

            </form>
        </div>

    </div>

    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba;border-radius:5px ">
                    <div class="card">

                        <img src="@item.ImageName" class="card-img-top rounded" asp-append-version="true" height="200px" />
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-secondary">@item.Name</p>
                            </div>

                        </div>


                    </div>

                    <div>
                        <a  asp-action="Details" asp-route-id="@item.ResourceID" class="btn btn-outline-info" style="width:150px">Details</a>
                        <a asp-controller="User" asp-action="CreateBooking" asp-route-ResourceID="@item.ResourceID" class="btn btn-primary" style="width:150px"><i class="bi bi-calendar-plus"></i> Buchen</a>
                    </div>




                </div>



            </div>


        </div>

    }



</div>